* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: gray;
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 70%;
    height:1000px;
    background-color: #fff;
}
.header {
    background-color: darkgreen;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav {
    flex-basis:70%;
}
nav ul {
    background-color: yellow;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
button {
    background-color: white;
    padding: 2px 5px;
    outline: none;
    border:1px solid #000
}
.content {
    height: 930px;
    display: flex;
    background-color: #d9cea4;;
}
.left-side {
    display: flex;
    flex-direction: column;
    flex:0 20%;
}
.left-side-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 30%;
    background-color: turquoise;
}
.left-side-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: blue;
}
.main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}
.cards {
    display: flex;
    flex: 0 30%;
    justify-content: space-around;
}
.cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 20%;
    background-color: silver;
}
.cards .card:hover,.image img:hover {
    box-shadow: 5px 5px 20px 0 rgb(73, 191, 245);
}
.transition {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.ff-Pacifico {
    font-family: 'Pacifico', cursive;
}
.h-170 {
    height: 170px;
}
.h-100 {
    height: 100px;
}
.w-100 {
    width: 100%;
}
.cover {
    object-fit: cover;
}
.b-red {
    border: 1px solid red;
}
h3 {
    margin-bottom: 10px;
}
.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.boxes {
    display: flex;
    flex-direction: row;
    flex: 0 40%;
    justify-content: space-around;

}
.boxes .box {
    display: flex;
    flex: 0 20%;
    font-size:15px;
}
#box4 {
    order:2;
}
.images {
    display: flex;
    justify-content: space-around;
    flex: 0 25%;
}
.images .image {
    height: 100px;
    display: flex;
    flex: 0 20%;
}
.image:nth-child(odd) {
    align-self: flex-end;

}
.br-10 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}